<header>
  <nav>
    <ul>
      <li>
        <a href="#">
          <mat-icon svgIcon="facebook"></mat-icon>
        </a>
      </li>
      <li>
        <a href="#">
          <mat-icon svgIcon="twitter"></mat-icon>
        </a>
      </li>
      <li>
        <a href="#">
          <mat-icon svgIcon="instagram"></mat-icon>
        </a>
      </li>
      <li>
        <a href="#">
          <mat-icon svgIcon="youtube"></mat-icon>
        </a>
      </li>
    </ul>

    <div class="logo">
      <img src="assets/images/logo.png" alt="logo" />
    </div>

    <div class="hamburguer-icon">
      <mat-icon>menu</mat-icon>
    </div>

    <ul>
      <li>
        <a [routerLink]="['/']">Home</a>
      </li>
      <li>
        <a [routerLink]="['/characters']">Characters</a>
      </li>
      <li>
        <a href="#">Media</a>
      </li>
      <li>
        <a href="#">Store</a>
      </li>
    </ul>
  </nav>
</header>
